{% set asset_base = '../../assets/' %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{ asset_base }}less/bootstrap/bootstrap.css" />
            <link rel="stylesheet" href="{{ asset_base }}css/general.css" />
            {% block css %}{% endblock %}
            {% block js %}{% endblock %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div id="header">
            {% block header %}{% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
            {% endblock %}
        </div>
    </body>
</html>