
<script type="text/javascript" src="http://cdnapi.kaltura.com/p/1164832/sp/116483200/embedIframeJs/uiconf_id/11547051/partner_id/1164832?entry_id={{video.kalturaid}}&amp;playerId=kaltura_player_1358776293&amp;cache_st=1358776293&amp;autoembed=true&amp;width=800&amp;height=450&amp;&amp;flashvars[streamerType]=auto&amp;flashvars[autoPlay]=true"></script>

<p>Title: {{ video.title }} </p>
<p> {{ video.desc }} </p>
<p> De: {{ video.author.displayname }} </p>