{% extends "master.twig" %}
{% block css %}<link rel="stylesheet" href="{{ asset_base }}homeStart.css" />{% endblock %}
{% block title %}Home - Start{% endblock %}
{% block header %}
    <h1 class="pageTitle" title="BookMeIn - Libros">
        <span class="titleBook">Book</span><span class="titleIn">In</span><span class="titleMe">Me</span>
    </h1>
{% endblock %}
{% block content %}
    <section class="login">
        <div class="facebookConnect">Conectar con Facebook</div>
        <div class="startLogin">Iniciar sesi&oacute;n</div>
        <div class="forgotPassword"><a href="">¿Olvidaste tu contrase&ntilde;a?</a></div>
        <div class="createAccount"><a href="">Crear cuenta</a></div>
    </section>
{% endblock %}