<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteBase /recommend
    RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /recommend/web/index.php [QSA,L]
</IfModule>